*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: #b1cee8;
}

.container{
    display: flex;
    margin: 0 auto;
    max-width: 1000px;
}

header .container{
    justify-content: center;
    flex: 1 1 auto;
}

.header{
    background-color: goldenrod;
    text-align: center;
    border: 1px dashed black;
    padding: .7em;
}

.side{
    width: 20%;
}

.center{
    width: 60%;
}

.section{
    display: flex;
    margin: 0 auto;
    padding: 10px 0px;
}

.first{
    background-color: #101096;
}

.area-1{
    width: 800px;
    height: 400px;
    background-color: rgb(236, 85, 135);
    border: 1px dashed black; 
}

.area-2, .area-6{
    width: 600px;
    height: 400px;
    background-color: rgb(30, 143, 242);
    border: 1px dashed black; 
}

.area-3, .area-7{
    width: 400px;
    height: 400px;
    background-color: pink;
    border: 1px dashed black; 
}

.third{
    background-color: lightgrey;
}

.area-4{
    width: 400px;
    height: 400px;
    background-color: pink;
    border: 1px dashed black; 
}

.area-5{
    width: 600px;
    height: 400px;
    background-color:  rgb(30, 143, 242);
    border: 1px dashed black;
}